div
  .jsoneditor
    height 75vh
    z-index 0
  .jsoneditor,
  .jsoneditor-menu
    border-color #8C9EFF
  .jsoneditor-menu
    background-color #8C9EFF
    a.jsoneditor-poweredBy
      display none
