div
  .jsoneditor
    height 75vh
    z-index 0
  .jsoneditor,
  .jsoneditor-menu
    border-color #16456E
  .jsoneditor-menu
    background-color #16456E
    a.jsoneditor-poweredBy
      color: #16456E
      text-decoration: none
      &:hover
        color #FFFFFF
        opacity 0.8
.jsoneditor-modal
  .pico-modal-header
    background #16456E
  .jsoneditor-button-group.jsoneditor-button-group-value-asc
    input.jsoneditor-button-asc
      background #16456E
  .jsoneditor-button-group.jsoneditor-button-group-value-desc
    input.jsoneditor-button-desc
      background #16456E
  .jsoneditor-jmespath-label
    color #16456E
